/* General */
body,
html,
main,
.card-container {
  height: 100%;
}

.card-container {
  height: 100%;
}

/* Helpers */
.flex-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  margin: auto;
  padding-bottom: 2rem;
}

/* Cat Card */
.cat-card {
  overflow: hidden;

  width: 100%;
  max-width: 45rem;
}

.cat-card-header {
  display: flex;
  flex-direction: column;
}

.app-title {
  text-align: center;
}

.cats-container {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;

  height: 45%;
  max-height: 30rem;
}

.cat-image {
  display: flex;

  width: 100%;
  margin-bottom: 2rem;
}
