.flex-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  margin: auto;
  padding-bottom: 2rem;
}

.cat-card {
  overflow: hidden;

  width: 45%;
  max-width: 50rem;
}

.cats-container {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;

  height: 45%;
  max-height: 30rem;
}

.cat-image {
  display: flex;

  width: 100%;
  margin-bottom: 2rem;
}
